<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internships Forum</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>

  <body class="d-flex text-center text-white bg-dark flex-column align-items-center justify-content-end">
    <header class="my-5" >
        <nav class="nav nav-masthead d-flex justify-content-center fixed-top float-md-right">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <% if(!currentUser) { %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% } else { %>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </nav>
    </header>
    <div class="my-5 title">
      <h1 class="Title">Internship Forum</h1>
      <br />
      <p class="lead my-3">
        Start shaping your future today! 
        <br />
        Discover, Contribute, and Inspire other with your Internship Journey!
        <br />
        Explore diverse opportunities, share your unique experiences, and
        witness a world of possibilities.
      </p>
    </div>
        <main class="px-auto my-5 ">
            </div>
                <div class="card-group " >
                  <a href="/internships" class="btnfos btnfos-1">
                    <svg>
                      <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                    </svg>
                    View
                  </a> 
                  <div class="big-card card" style="border-radius: 30px;"></div>   
                  <div class="big-card card" style="border-radius: 30px;"></div>   
                  <div class="big-card card" style="border-radius: 30px;"></div>   
                  <div class="big-card card" style="border-radius: 30px;"></div>   
                  <div class="big-card card" style="border-radius: 30px;"></div>   
                  <div class="big-card card" style="border-radius: 30px;"></div>   
                  <div class="big-card card" style="border-radius: 30px;"></div>   
                  <div class="big-card card" style="border-radius: 30px;"></div>   
                  <div class="big-card card" style="border-radius: 30px;"></div>   
              </div>
        </main>
      <footer class="mt-auto text-white-50">
        <p>
          <span>@HungNgo</span>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/home.js"></script>
  </body>
</html>
