html {
	font-size: 16px;
}
body {
	background-color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	line-height: 1.5;
	color: #212529;
	background-image: url('https://www.transparenttextures.com/patterns/axiom-pattern.png');

}

.card {
	background-color: transparent;
	border: none;
}

.mainPage {
	background-image: url('https://img.freepik.com/premium-photo/wallpaper-simple-solid-color-background-flat-image-dark-tones_780838-7386.jpg');
}

.title {
	font-size: 2.1rem;
	color: #00ff9f;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
	font-size: 1.5rem;
	color: #8BE9FD;
	font-family: 'Courier New', Courier, monospace;
}

.minor {
	font-size: 1.2rem;
	color: #FFf;
	font-style: oblique 50deg;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
svg:not(.searchIconabc):not(.desIcon){
	width: 4.5%;
	height: 4.5%;
	margin-right: auto;
	color: #C5E898;
}
.desIcon{
	width: 4.5%;
	height: 4.5%;
	margin-right: auto;
	color: #F4CE14;
}
.viewButton {
	background-color: #BD93F9;
	color: #F1FA8C;
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 4px 2px;
	cursor: pointer;
}

h1 {
	font-size: 4rem;
	color: #BD93F9;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

.profile {
	font-size: 5rem;
	color: #F1FA8C;
	font-family: 'Courier New', Courier, monospace;
	text-decoration: none;
}

.profile1 {
	font-size: 2rem;
	color: #00ff9f;
	font-family: 'Courier New', Courier, monospace;
	text-decoration: none;
}

.subTitle {
	font-size: 2.5rem;
	color: #FF79C6;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 20px;
}

img {
	object-fit: contain;
}

@media screen and (max-width: 756px) {
      html {
		font-size: 13px;
	  }
  }

  @media screen and (max-width: 400px) {
	html {
	  font-size: 9px;
	}
}