<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/index.css" />
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://t4.ftcdn.net/jpg/03/11/50/71/360_F_311507184_0mErEL2kUw7z4AbXhsxPjFE7hQnY7BLy.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label minor" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label minor" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block viewButton" type="submit">Login</button>
                        <button id="explore"  class="btn btn-outline-info w-100" type="submit"> Explore the App</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script >
    document.getElementById("explore").addEventListener('click',()=> {
        document.getElementById("username").value = 'hung';
        document.getElementById("password").value = 'hung';
        console.log('dmdmdmdmd')
    });
</script>